.button__coral {
    background-color: var(--coral);
    border-radius: 6px;
    min-width: 180px;
    padding: 8px 0;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.button__coral:hover {
    cursor: pointer;
    background-color: #FF9D9E;
}

.button__text {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--white);
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    line-height: 24px;
}