footer {
    align-items: center;
    background-color: var(--green);
    display: flex;
    height: 100px;
    justify-content: center;
    padding: 0 15px;
}

footer .text {
    color: var(--white);
}