.header__container {
    padding: 40px 30px;
}

.header__wrapper {
    align-items: center;
    column-gap: 50px;
    display: grid;
    grid-template-columns: 26px 26px 1fr;
    justify-content: left;
}

.header__button__profile {
    justify-self: right;
}