body {
    background: url(../images/green-bg-1.png), var(--white);
    background-repeat: no-repeat;
}

.text__animals {
    color: var(--blue);
    padding: 40px;
    text-align: center;
}

.animals__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.animal {
    align-items: center;
    background-color: var(--light-gray-background);
    box-sizing: border-box;
    column-gap: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    max-width: 400px;
    padding: 16px;
}

.animal .title__small {
    color: var(--blue);
}

.animal .text__small {
    margin-top: 20px;
}

.animal .subtitle {
    background-image: url(../icons/icon-message-green.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 10px 0 10px 25px;
    text-decoration: none;
}

.animal__subtitle__link {
    color: var(--gray);
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .animals__wrapper {
        align-items: stretch;
        column-gap: 16px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px) {
    .animals__main {
        padding: 0 100px;
    }
}