body {
    background: url(../images/green-bg-1.png), url(../images/green-bg-2-right.png), var(--blue);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, right;
    background-size: 200px, 60px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.welcome__container {
    margin: auto;
    max-width: 250px;
    text-align: center;
}

.welcome__info {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.welcome__logo {
    margin-bottom: 16px;
    width: 80%;
}

.welcome__info .title__h3, .text {
    color: var(--white);
}