body {
    background: url(../images/paws.png), url(../images/green-bg-1.png), url(../images/green-bg-2-right.png), var(--white);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top right, top left, center right;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login__main {
    align-items: center;
    display: flex;
    flex: 1;
    margin: 0 auto;
    max-width: 300px;
}

.login__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 110px 24px;
    row-gap: 20px;
    text-align: center;
}

.login__logo {
    max-width: 50%;
}

.login__text {
    color: var(--blue);
}

.login__form input {
    margin-bottom: 20px;
    margin-top: 5px;
}

.login__span {
    color: var(--coral);
    display: none;
}

.login__span--active {
    display: block;
}

.login__form .button__coral {
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .login__main {
        max-width: 400px;
    }
}

@media screen and (min-width: 1440px) {
    .login__main {
        max-width: 500px;
    }
}