body {
    background: url(../images/green-bg-1.png), url(../images/paws.png), var(--white);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    background-size: 200px, 100px;
}

.login__main {
    background: url(../images/green-bg-2-left.png);
    background-repeat: no-repeat;
    background-position: -45px 85%;

    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.login__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 70px 24px;
    row-gap: 20px;
    text-align: center;
    width: 100%;
}

.login__logo {
    max-width: 150px;
    width: 100%;
}

.login__text {
    color: var(--blue);
}

.login__form {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login__form input {
    margin-bottom: 20px;
    margin-top: 5px;
}

.login__form .button__coral {
    margin-top: 24px;
}