body {
    background: url(../images/green-bg-1.png), url(../images/paws.png), url(../images/green-bg-2-left.png), var(--white);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, top right, center left -40px;
    background-size: 200px, 100px, 80px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.login__main {
    align-items: center;
    display: flex;
    flex: 1;
    margin: 0 auto;
    max-width: 300px;
}

.login__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 110px 24px;
    row-gap: 20px;
    text-align: center;
}

.login__logo {
    max-width: 150px;
}

.login__text {
    color: var(--blue);
}

.login__form input {
    margin-bottom: 20px;
    margin-top: 5px;
}

.login__form .button__coral {
    margin-top: 24px;
}