body {
    background: url(../images/green-bg-1.png), var(--white);
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.message__main {
    flex: 1;
    padding: 30px;
    max-width: 500px;
    align-self: center;
}

.message__text {
    color: var(--blue);
    margin: 10px;
    text-align: center;
}

.message__container {
    background-color: var(--light-gray-background);
    border-radius: 10px;
    margin-top: 24px;
    padding: 32px 16px;
}

.message__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.message__form .text {
    color: var(--blue);
    margin-top: 10px;
}

.message__form .input {
    text-align: left;
}

.message__textarea {
    box-sizing: border-box;
    margin-bottom: 32px;
    min-height: 150px;
    padding: 16px;
    resize: none;
}

.message__button {
    align-self: center;
    max-width: 200px;
}

@media screen and (min-width: 768px) {
    body {
        background: url(../images/green-bg-1.png), url(../images/green-bg-2-right.png), var(--white);
        background-repeat: no-repeat, no-repeat;
        background-position: top left, center right;
    }

    .message__main {
        max-width: 600px;
    }

    .message__container {
        padding: 32px 20px;
    }
}