body {
    background: url(../images/green-bg-1.png), var(--white);
    background-repeat: no-repeat;
    background-position-x: -20px;
}

.message__main {
    padding: 30px;
}

.message__text {
    color: var(--blue);
    margin: 10px;
    text-align: center;
}

.message__container {
    background-color: var(--light-gray-background);
    border-radius: 10px;
    margin-top: 24px;
    padding: 32px 16px;
}

.message__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.message__form .text {
    color: var(--blue);
    margin-top: 10px;
}

.message__form .input {
    text-align: left;
}

.message__textarea {
    box-sizing: border-box;
    margin-bottom: 32px;
    min-height: 150px;
    padding: 16px;
    resize: none;
}

.message__button {
    align-self: center;
    max-width: 200px;
}