body {
    background: url(../images/green-bg-1.png), var(--white);
    background-repeat: no-repeat;
    background-position-x: -20px;
}

.profile__main {
    padding: 30px;
}

.profile__text {
    color: var(--blue);
    margin: 10px;
    text-align: center;
}

.profile__container {
    background-color: var(--light-gray-background);
    border-radius: 10px;
    margin-top: 24px;
    padding: 32px 16px;
}

.profile__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.profile__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.profile__form .text {
    color: var(--blue);
    margin-top: 10px;
}

.profile__image {
    align-self: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
}

.profile__image__span {
    color: var(--coral);
    text-align: center;
}

.profile__form .input {
    text-align: left;
}

.profile__textarea {
    box-sizing: border-box;
    margin-bottom: 32px;
    min-height: 150px;
    padding: 16px;
    resize: none;
}