body {
    background: url(../images/paws.png), url(../images/green-bg-1.png), url(../images/green-bg-2-right.png), var(--white);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top right, top left, center right;
    background-size: 100px, 200px, 70px;
    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sign-up__main {
    align-items: center;
    display: flex;
    flex: 1;
    margin: 0 auto;
    max-width: 300px;
}

.sign-up__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 70px 24px;
    row-gap: 20px;
    text-align: center;
}

.sign-up__logo {
    max-width: 50%;
}

.sign-up__text {
    color: var(--blue);
}

.sign-up__form .input {
    margin-bottom: 20px;
    margin-top: 5px;
}

.sign-up__form .button__coral {
    margin-top: 24px;
}

@media screen and (min-width: 768px) {
    .sign-up__main {
        max-width: 400px;
    }
}

@media screen and (min-width: 1440px) {
    body {
        background-size: initial;
    }
    .sign-up__main {
        max-width: 500px;
    }
}