@import url(./reset.css);
@import url(./typography.css);
@import url(./button.css);

:root {
    --blue: #3772FF;
    --green: #36D6AD;
    --coral: #FC7071;
    --cream: #FCF0E3;
    --gray: #737380;
    --light-gray: #BCBCBC;
    --light-gray-background: #F6F6F6;
    --white: #FFFFFF;
}