@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Poppins:ital,wght@0,500;0,600;1,400&display=swap');

.title__h1 {
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 500;
}

.title__h2 {
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 500;
}

.title__h3 {
    font-size: 28px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--gray);
    font-weight: 500;
}

.title__h4 {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 600;
}

.text {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 400;
}

.text__small {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 400;
}

.subtitle {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 400;
}

.text__button {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 400;
}

/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif; 
*/