.button__coral {
    background-color: var(--coral);
    border-radius: 6px;
    border: none;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
    min-width: 200px;
    padding: 8px 0;

    color: var(--white);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
}

.button__coral:hover {
    background-color: #FF9D9E;
    cursor: pointer;
}