.input {
    border-radius: 6px;
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    outline-color: var(--gray);
    padding: 12px 16px;
    width: 100%;

    color: var(--gray);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}

.input__gray {
    background-color: var(--light-gray-background);
}

.input__white {
    background-color: var(--white);
}

.input::placeholder {
    color: var(--light-gray);
}