.input {
    background-color: var(--light-gray-background);
    border: none;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    width: 100%;
    outline-color: var(--gray);
    height: 40px;
}

.input::placeholder {
    color: var(--light-gray);
}

.input__text {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 500;
    line-height: 16px;
    text-align: center;
}