@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Poppins:ital,wght@0,500;0,600;1,400&display=swap');

html {
    font-size: 16px;
}

.title__extra-large {
    font-size: 4.25rem;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 500;
    line-height: 72px;
}

.title__large {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 500;
    line-height: 48px;
}

.title__medium {
    font-size: 1.75rem;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--gray);
    font-weight: 500;
    line-height: 48px;
}

.title__small {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 600;
    line-height: 24px;
}

.text {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 400;
    line-height: 24px;
}

.text__small {
    font-size: 0.875rem;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 400;
    line-height: 24px;
}

.subtitle {
    font-size: 0.75rem;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 400;
    line-height: 16px;
}

@media screen and (min-width: 768px) {
    html {
        font-size: 18px;
    }
}