@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&family=Poppins:ital,wght@0,500;0,600;1,400&display=swap');

.title__extra-large {
    font-size: 68px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 500;
    line-height: 72px;
}

.title__large {
    font-size: 42px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 500;
    line-height: 48px;
}

.title__medium {
    font-size: 28px;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--gray);
    font-weight: 500;
    line-height: 48px;
}

.title__small {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 600;
    line-height: 24px;
}

.text {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 400;
    line-height: 24px;
}

.text__small {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 400;
    line-height: 24px;
}

.subtitle {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: var(--gray);
    font-weight: 400;
    line-height: 16px;
}

/* 
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Poppins', sans-serif; 
*/